<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand">Sumi Lab</a>
    <nav>
      <ul class="nav-list">
        <li><a href="/">Sumi Lab</a></li>
        <li><a href="/laboratuvar">Laboratuvar</a></li>
        <li><a href="/ruyalar">Gece Vardiyası</a></li>
        <li><a href="/hakkimda">Hakkımda</a></li>
      </ul>
    </nav>
  </div>
</header>
